<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/css/multi-select-tag.css">
    <link rel="stylesheet" href="/css/mant.css">
    <title>Mantenimiento - GARAGE 77</title>
</head>

<body>

    <div class="container">
        <!-- Sidebar Section -->
        <aside>
            <div class="toggle">
                <div class="logo">
                    <img src="assets/logo.png">
                    <h2>Garage <span class="danger">77</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>

            <div class="sidebar">

                <a href="/Index" >
                    <span class="material-icons-sharp">
                        dashboard
                    </span>
                    <h3>Menu Principal</h3>
                </a>

                <a href="/PgCSV" class="active">
                    <span class="material-icons-sharp">
                        person_outline
                    </span>
                    <h3>Mantenimiento</h3>
                </a>

                <a href="/PgMecanico" >
                    <span class="material-icons-sharp">
                        receipt_long
                    </span>
                    <h3>Mecanico</h3>
                </a>

                <a href="/Reportes">
                    <span class="material-icons-sharp">
                        insights
                    </span>
                    <h3>Reportes</h3>
                </a>

                <a href="/Listados" >
                    <span class="material-icons-sharp">
                        report_gmailerrorred
                    </span>
                    <h3>Listados</h3>
                </a>

                <a href="#">
                    <span class="material-icons-sharp">
                        mail_outline
                    </span>
                    <h3>Facturas</h3>
                    <span class="message-count">27</span>
                </a>
                
                <a href="/PgInventario">
                    <span class="material-icons-sharp">
                        inventory
                    </span>
                    <h3>Inventario</h3>
                </a>

                <a href="#">
                    <span class="material-icons-sharp">
                        settings
                    </span>
                    <h3>Ajustes</h3>
                </a>

                <a href="/NuevoUsuario">
                    <span class="material-icons-sharp">
                        add
                    </span>
                    <h3>Nuevo Usuario</h3>
                </a>

                <a href="/Login">
                    <span class="material-icons-sharp">
                        logout
                    </span>
                    <h3>Cerrar Sesion</h3>
                </a>
            </div>
        </aside>
        <!-- End of Sidebar Section -->

        <!-- Main Content -->
        <main>
            <h1 style="text-align: center;">Mantenimiento <span class="danger">General</span> </h1>
            <!-- Analyses -->
            <div class="analyse">

                <div class="sales">
                    <div>
                        <h2 style="text-align: center;">Datos del <span class="danger">Cliente</span> </h2>
                        
                        <div class="info">
                            <br>
                            <form action="/PgCSV" method="post" th:object="${CSV}">
                                <div style="text-align: center;">
                                    <label for="toggleSwitch">¿Cliente Antiguo?</label>
                                    <input type="checkbox" id="clienteNue" onclick="toggleOptions1()">
                                    
                                    <br>
                                    <div id="timeAndDateFields">
                                        <br>
                                        <label for="inputCod">Nombre Cliente</label> <input type="text"
                                        class="form-control" id="inputCod" placeholder="Nombre"
                                        name="nombreCliente"  required>
                                        <br>
                                        
                                        <label for="inputNom">Teléfono Cliente</label> <input type="number"
                                        class="form-control" id="inputNom" placeholder="Teléfono"
                                        name="telefonoCliente" required>
                                        
                                        <br>
                                        
                                        <label for="inputApe">DNI Cliente</label> <input type="number"
                                        class="form-control" id="inputApe" placeholder="DNI"
                                        name="dniCliente"  required>
                                        
                                        <br>

                                        <br>
                                        <label for="toggleSwitchEmpresa">¿Empresa?</label>
                                        <input type="checkbox" id="toggleSwitchEmpresa" onclick="toggleEmpresaOptions()">
                                        <br>
                                        
                                        
                                        <div id="empresaNuevaFields" style="display: none;">
                                            <br>
                                            <label for="toggleEmpresaNueva">¿Empresa Nueva?</label>
                                            <input type="checkbox" id="toggleEmpresaNueva" onclick="toggleEmpresaNuevoOptions()">
                                            <br>

                                            <div id="empresaNuevaNombre" style="display: none;">
                                                <br>
                                                <label for="inputNombreEmpresa">Nombre de la Nueva Empresa:</label>
                                                <input class="form-control" type="text" id="inputNombreEmpresa" name="nombreEmpresa">
                                            </div>
                                            
                                            <div id="empresaAntiguaSelect" style="display: none;">
                                                <br>
                                                <label for="selectEmpresaAntigua">Seleccionar Empresa Registrada:</label>
                                                <select class="form-control" id="selectEmpresaAntigua" name="empresaAntigua">
                                                    <option value="empresa1">Empresa 1</option>
                                                    <option value="empresa2">Empresa 2</option>
                                                    <option value="empresa3">Empresa 3</option>
                                                </select>
                                                
                                            </div><br>
                                        </div>
                                        <br>
                                        <label for="inputHora">Hora de Recepción: </label> <input type="time"
                                        class="form-control" id="inputHora" placeholder="Hora Recepción"
                                        name="horaRecep"  required>
                                        
                                        <br>
                                        
                                        <label for="inputHora">Hora de Entrada: </label> <input type="time"
                                        class="form-control" id="inputHora" placeholder="Hora Entrega"
                                        name="horaEntrega"  required>
                                        
                                        <br>
                                        
                                        <label for="inputFech">Fecha de Entrada: </label> <input type="date"
                                        class="form-control" id="inputFech" placeholder="Fecha"
                                        name="fechaCliente" required>
                                        
                                        <br>

                                        <div class="btn-container" style="text-align: center;"> 
                                            <br>
                                            <button class="btn-blue" type="submit" name="action" value="registrar" >Registrar</button>
                                        </div>

                                    </div>
                                    
                                    <div id="clienteNuevoFields" style="display: none;">
                                        <br>
                                        <label for="clienteNuevo">Seleccionar cliente registrado</label>
                                        <select class="form-control" id="clienteType" name="clienteType">
                                            <option value="empresa">Seleccionar</option>
                                            <option value="privado">Makina</option>
                                        </select>

                                        <div class="btn-container" style="text-align: center;"> 
                                            <br>
                                            <button class="btn-blue" type="submit" name="action" value="registrar" >Registrar</button>
                                        </div>
                                    </div>
                
                                    
                                </div>
                                <div th:text="${mensaje}"></div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="visits">
                    <div>
                        <h2 style="text-align: center;">Datos del <span class="danger">Vehiculo</span> </h2>
                        <div class="info" style="text-align: center;">
                            <br>
                
                            <label for="toggleSwitch">¿Vehículo Registrado?</label>
                            <input type="checkbox" id="cambio" onclick="toggleOptions()">
                            <br>
                
                            <div id="vehicleNew">
                                <br>
                                <label for="inputPlaca">Placa: </label> 
                                <input type="text" class="form-control" id="inputPlaca" placeholder="Placa" name="placa">
                                                        
                                <br>

                                <label for="inputMarca">Marca: </label> 
                                <input type="text" class="form-control" id="inputMarca" placeholder="Marca" name="marca">
                                                
                                <br>
                                                
                                <label for="inputModel">Modelo: </label> 
                                <input type="text" class="form-control" id="inputModel" placeholder="Modelo" name="modelo">
                                                
                                <br>
                                <label for="inputAnno">Año:</label>
                                <input type="number" class="form-control" id="inputAnno" placeholder="Ingrese Año" min="1900" max="2024" name="añoVehiculo">
                                                        
                                <br>
                                <label for="inputKilo">Kilometraje: </label> 
                                <input type="number" class="form-control" id="inputKilo" placeholder="Kilometraje" name="kmActual">
                                                
                                <br>
                
                                <label for="inputKilo">Kilometraje Aprox: </label> 
                                <input type="number" class="form-control" id="inputKilo" placeholder="Kilometraje Aprox" name="kmAprox">
                                                
                                <br>
                                                    
                                
                                
                                <div class="btn-container" style="text-align: center;"> 
                                    <br>
                                    <button class="btn-blue" type="submit" name="action" value="registrar" >Registrar</button>
                                </div>
                                            
                                </div>
                            
                            <div id="vehicleRegisteredFields" style="display: none;">
                                <br>
                                <label for="selectRegisteredVehicle">Seleccionar vehículo registrado:</label>
                                <select class="form-control" id="selectRegisteredVehicle" name="registeredVehicle">
                                    <option value="vehicle1">Vehículo 1</option>
                                    <option value="vehicle2">Vehículo 2</option>
                                    <option value="vehicle3">Vehículo 3</option>
                                </select>

                                <div class="btn-container" style="text-align: center;"> 
                                    <br>
                                    <button class="btn-blue" type="submit" name="action" value="registrar" >Registrar</button>
                                </div>
                            </div>
                        </div>
                            
                        <div th:text="${mensaje}"></div>
                    </div>
                </div>	

            </div>

            
            <div class="analysee">
                <div>


                    <h2 style="text-align: center;">Trabajo <span class="danger">Solicitado e Insumos</span> </h2>

                    <br>

                    <div class="recent-orders">
                        <div>
							<h2 style="text-align: center;">
								<span class="danger">Insumos</span> Disponibles
							</h2>
							

							<div th:each="Insumo : ${insumos}">
								<input type="checkbox" id="insumo" onclick="validarCheck()"
									name="insumo" th:value="${Insumo.insumoId}"> 

                                    <label th:for="'inputCod_' + ${Insumo.insumoId}"
									th:text="${Insumo.insumoDescripcion}"></label> <br>
							</div>
							
						</div>
                    </div>

                    <div class="btn-container" style="text-align: center;"> 
                        <br>
                        <button class="btn-blue" type="submit" name="action" value="registrar" >Registrar</button>
                    </div>
                </form>
                </div>

            </div>
            <!-- End of Recent Orders -->

        </main>
        <!-- End of Main Content -->

        <!-- Right Section -->
        <div class="right-section">
            <div class="nav">
                <button id="menu-btn">
                    <span class="material-icons-sharp">
                        menu
                    </span>
                </button>
                <div class="dark-mode">
                    <span class="material-icons-sharp active">
                        light_mode
                    </span>
                    <span class="material-icons-sharp">
                        dark_mode
                    </span>
                </div>

                <div class="profile">
                    <div class="info">
                        <p>Bienvenido, <b>Admin</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="images/profile-1.jpg">
                    </div>
                </div>

            </div>
            <!-- End of Nav -->

            <div class="user-profile">
                <div class="logo">
                    <img src="assets/logo.png">
                    <h2>Garage 77</h2>
                    <p>Automotriz de confianza</p>
                </div>
            </div>



            <div class="reminders">
                <div class="header">
                    <h2>Recordatorios</h2>
                    <span class="material-icons-sharp">
                        notifications_none
                    </span>
                </div>

                <div class="notification">
                    <div class="icon">
                        <span class="material-icons-sharp">
                            volume_up
                        </span>
                    </div>
                    <div class="content">
                        <div class="info">
                            <h3>Pagos Pendientes</h3>
                            <small class="text_muted">
                                5 deudas
                            </small>
                        </div>
                        <span class="material-icons-sharp">
                            more_vert
                        </span>
                    </div>
                </div>

                <div class="notification deactive">
                    <div class="icon">
                        <span class="material-icons-sharp">
                            edit
                        </span>
                    </div>
                    <div class="content">
                        <div class="info">
                            <h3>Workshop</h3>
                            <small class="text_muted">
                                08:00 AM - 12:00 PM
                            </small>
                        </div>
                        <span class="material-icons-sharp">
                            more_vert
                        </span>
                    </div>
                </div>

                <div class="notification add-reminder">
                    <div>
                        <span class="material-icons-sharp">
                            add
                        </span>
                        <h3>Add Reminder</h3>
                    </div>
                </div>

            </div>

        </div>


    </div>
    
    <script>
        function toggleOptions1() {
        var clienteNue = document.getElementById("clienteNue");
        var timeAndDateFields = document.getElementById("timeAndDateFields");
        var clienteNuevoFields = document.getElementById("clienteNuevoFields");

        if (clienteNue.checked) {
            timeAndDateFields.style.display = "none"; // Oculta los campos de hora y fecha
            clienteNuevoFields.style.display = "block"; // Muestra el campo para introducir nombre del cliente nuevo
        } else {
            timeAndDateFields.style.display = "block"; // Muestra los campos de hora y fecha
            clienteNuevoFields.style.display = "none"; // Oculta el campo para introducir nombre del cliente nuevo
        }
    }
    
        function toggleEmpresaOptions() {
            var switchEmpresaToggle = document.getElementById("toggleSwitchEmpresa");
            var empresaNuevoFields = document.getElementById("empresaNuevaFields");
    
            if (switchEmpresaToggle.checked) {
                empresaNuevoFields.style.display = "block"; // Muestra los campos para empresa
            } else {
                empresaNuevoFields.style.display = "none"; // Oculta los campos para empresa
            }
        }
    
        function toggleEmpresaNuevoOptions() {
            var switchEmpresaNuevoToggle = document.getElementById("toggleEmpresaNueva");
            var empresaNuevoNombre = document.getElementById("empresaNuevaNombre");
            var empresaAntiguaSelect = document.getElementById("empresaAntiguaSelect");
    
            if (switchEmpresaNuevoToggle.checked) {
                empresaNuevoNombre.style.display = "block"; // Muestra el campo para nombre de nueva empresa
                empresaAntiguaSelect.style.display = "none"; // Oculta el select para empresa antigua
            } else {
                empresaNuevoNombre.style.display = "none"; // Oculta el campo para nombre de nueva empresa
                empresaAntiguaSelect.style.display = "block"; // Muestra el select para empresa antigua
            }
        }
    </script>

    <script>
        function toggleOptions() {
            var cambio = document.getElementById("cambio");
            var vehicleNewFields = document.getElementById("vehicleNew");
            var vehicleRegisteredFields = document.getElementById("vehicleRegisteredFields");

            if (cambio.checked) {
                vehicleNewFields.style.display = "none"; // Oculta los campos del vehículo nuevo
                vehicleRegisteredFields.style.display = "block"; // Muestra el combobox para seleccionar vehículo registrado
            } else {
                vehicleNewFields.style.display = "block"; // Muestra los campos del vehículo nuevo
                vehicleRegisteredFields.style.display = "none"; // Oculta el combobox para seleccionar vehículo registrado
            }
        }
    </script>

    <script src="/js/"></script>
    <script src="/js/index.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet"/>

    <script>
        $(document).ready(function() {
            // Inicializar Select2
            $('#selectInsumos').select2({
                placeholder: 'Buscar insumo',
                allowClear: true,
                tags: true
            });
        });
    </script>

</body>

</html>